.wrapper {
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 500px);
    min-height: 100vh;
    background-color: grey;
    color: white;
}
.employees {
    padding: 20px;
}
.alphabet {
    display: grid;
    grid-template: repeat(9, auto) / repeat(3, auto);
}
.birthday {
    padding: 20px;
    border-left: 1px solid black;
}

.letter {
    margin: 10px;
}

.user {
    margin: 5px 0px 0px 0px;
    font-weight: bold;
}
.user input {
    margin: 5px 5px 0px 0px;
    align-self: center;
}
